* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.result {
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
}

.result button{
    margin-bottom: 10px;
    margin-right: 20px;
}

select {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
    border: 1px solid #ced4da;
    outline: 0;
    padding: 0.375rem 0.75rem;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(185, 185, 185);
}